<%= error_messages_for 'subscription_template' %>

<div class="box tabular">
  <h3><%= l(:gtt_fiware_subscription_template_general) %></h3>

  <p><%= f.text_field :name, required: true, size: 50, placeholder: 'Temperature Alert' %></p>
  <p>
    <%= f.text_field :broker_url, required: true, size: 50, placeholder: l(:field_subscription_template_broker_url_placeholder) %>
  </p>

  <p>
    <%= f.label :expires, l(:field_subscription_template_expiration) %>
    <%= f.datetime_select :expires, include_blank: true %>
    </p>
  </p>

  <p>
    <%= f.select :status, [[l(:field_subscription_template_status_active), true], [l(:field_subscription_template_status_inactive), false]] %>
  </p>

</div>

<div class="box tabular">
  <h3><%= l(:gtt_fiware_subscription_template_subject) %></h3>

  <p>
    <%= f.text_field :subscription_id, size: 50, placeholder: l(:field_subscription_template_id_placeholder), readonly: true %>
  </p>

  <p><%= f.text_area :entities_string, required: true, rows: 6, placeholder: '[
  {
    "idPattern": ".*",
    "type": "Room"
  }
]', value: (@subscription_template.entities.presence ? JSON.pretty_generate(@subscription_template.entities) : '') %></p>

  <p><%= f.text_area :condition_string, rows: 6, placeholder: '{
  "attrs": [ "temperature" ],
  "expression": {
    "q": "temperature>40"
  }
}', value: (@subscription_template.condition.presence ? JSON.pretty_generate(@subscription_template.condition) : '') %></p>
</div>

<div class="box tabular">
  <h3><%= l(:gtt_fiware_subscription_template_notification) %></h3>

  <p><em><%= t(:gtt_fiware_subscription_template_variable_hint).html_safe %></em></p>

  <p><%= f.text_field :subject, required: true, size: 50, placeholder: 'Temperature alert in room ${room_name}' %></p>
  <p><%= f.text_area :description, required: true, rows: 6, class: 'wiki-edit', placeholder: 'The sensor in room ${room_name} recorded a temperature of ${temperature}°C.
* [ ] Open window
* [ ] Turn off heater' %></p>

  <p>
    <%= content_tag :label, l(:label_issue_status) %>
    <%= f.collection_select :issue_status_id, @issue_statuses, :id, :name %>
  </p>

  <p>
    <%= content_tag :label, l(:label_tracker) %>
    <%= f.collection_select :tracker_id, @trackers, :id, :name %>
  </p>

  <p>
    <%= content_tag :label, l(:field_subscription_template_notification_user) %>
    <%= f.collection_select :member_id, @members, :id, :name %>
  </p>

  <p><%= f.check_box :is_private %></p>
</div>

<%= wikitoolbar_for 'subscription_template_description' %>
