<% if subscription_templates.any? %>
  <div class="box tabular">
    <p class="min-width">
      <%= content_tag :label, l(:field_subscription_auth_token) %>
      <%= text_field_tag :subscription_auth_token, "", :size => 70, :placeholder => l(:field_subscription_auth_token_placeholder) %><br>
      <em><%= l(:field_subscription_auth_token_hint) %></em>
    </p>
  </div>

  <table class="list subscription_templates">
    <thead>
      <tr>
        <th><%= l :field_subscription_template_name %></th>
        <th><%= l :field_subscription_template_standard %></th>
        <th><%= l :field_subscription_template_broker_url %></th>
        <th><%= l :label_issue_status %></th>
        <th><%= l :label_tracker %></th>
        <th><%= l :field_status %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="subscriptionTemplateList">
      <%= render collection: subscription_templates.sort_by(&:name), partial: 'subscription_templates/subscription_template' %>
    </tbody>
  </table>

  <div id="temporaryNotification" class="temporaryNotification">
  </div>

<% else %>
  <p class="nodata"><%= l :label_no_data %></p>
<% end %>
