<% if subscription_templates.any? %>
  <table class="list subscription_templates">
    <thead>
      <tr>
        <th><%= l :field_subscription_template_name %></th>
        <th><%= l :field_subscription_template_broker_url %></th>
        <th><%= l :label_issue_status %></th>
        <th><%= l :label_tracker %></th>
        <th><%= l :field_status %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="subscriptionTemplateList">
      <%= render collection: subscription_templates, partial: 'subscription_templates/subscription_template' %>
    </tbody>
  </table>

  <div id="temporaryNotification" class="temporaryNotification">
  </div>

<% else %>
  <p class="nodata"><%= l :label_no_data %></p>
<% end %>
