<% if subscription_templates.any? %>
  <table class="list subscription_templates">
    <thead>
      <tr>
        <th><%= l :field_subscription_template_name %></th>
        <th><%= l :field_subscription_template_subject %></th>
        <th><%= l :label_issue_status_plural %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render collection: subscription_templates, partial: 'subscription_templates/subscription_template' %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l :label_no_data %></p>
<% end %>

<%= content_for :header_tags do %>
  <%= javascript_include_tag 'jquery.dotdotdot', plugin: 'redmine_subscription_templates' %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("table.list.subscriptiontemplates tbody td.text div").dotdotdot({
        watch: 'window',
      });

      // make sure text is shortened when it was initially hidden and just
      // becomes visible due to Redmine's tabbing in project settings:
      var origShowTab = window.showTab;
      window.showTab = function(name, url){
        origShowTab(name, url);
        $("table.list.subscriptiontemplates tbody td.text div").trigger('update.dot');
      }
    });
  <% end %>
<% end %>
