<tr>
  <td class="text">
    <%= link_to subscription_template.name, edit_project_subscription_template_path(subscription_template.project, subscription_template) %>
  </td>
  <td>
    <%= textilizable subscription_template.standard %>
  </td>
  <td class="text">
    <code><%= subscription_template.broker_url %></code>
  </td>
  <td>
    <%= textilizable subscription_template.issue_status.name %>
  </td>
  <td>
    <%= textilizable subscription_template.tracker.name %>
  </td>
  <td>
    <%= textilizable subscription_template.status %>
  </td>
  <td>
    <%= link_to sprite_icon('fiware-clipboard', l(:link_to_copy), :plugin => :redmine_gtt_fiware), copy_project_subscription_template_path(@project, subscription_template),
        method: :get, remote: true, class: 'icon icon-copy copy-command-link', title: l(:link_to_copy_hint) %>
  </td>
  <td>
    <% if subscription_template.subscription_id.present? %>
      <%= link_to sprite_icon('fiware-unpublish', l(:link_to_unpublish), :plugin => :redmine_gtt_fiware), unpublish_project_subscription_template_path(@project, subscription_template),
          method: :get, remote: true, class: 'icon icon-shared' %>
    <% else %>
      <%= link_to sprite_icon('fiware-publish', l(:link_to_publish), :plugin => :redmine_gtt_fiware), publish_project_subscription_template_path(@project, subscription_template),
          method: :get, remote: true, class: 'icon icon-shared' %>
    <% end %>
  </td>
  <td>
    <%= delete_link(subscription_template.project ? project_subscription_template_path(subscription_template.project, subscription_template) : subscription_template_path(subscription_template)) %>
  </td>
</tr>
