<h3><%= l(:gtt_fiware_settings_general) %></h3>

<p>
  <%= content_tag(:label, l(:field_ngsi_ld_format)) %>
  <%= select_tag "settings[ngsi_ld_format]",
    options_for_select([
      [l(:option_ngsi_ld_format_not_normalized), false],
      [l(:option_ngsi_ld_format_normalized), true]
    ],
    @settings['ngsi_ld_format']) %>
</p>
</div>

<div class="box tabular settings">
<h3><%= l(:gtt_fiware_settings_broker) %></h3>

<p>
  <%= content_tag(:label, l(:field_connect_via_proxy)) %>
  <%= check_box_tag 'settings[connect_via_proxy]', 1, Setting.plugin_redmine_gtt_fiware['connect_via_proxy'] %>
</p>

<p>
  <%= content_tag(:label, l(:field_fiware_broker_subscription_throttling)) %>
  <%= number_field_tag 'settings[fiware_broker_subscription_throttling]',
    @settings['fiware_broker_subscription_throttling'], :min => 0, :step => 1 %>
</p>
