<%= error_messages_for 'broker_connection' %>

<div class="box tabular">
  <p><%= f.text_field :name, required: true, size: 60 %></p>
  <p class="min-width"><%= f.select :standard, BrokerConnection::STANDARDS, required: true, label: :field_broker_connection_standard %></p>
  <p><%= f.text_field :url, required: true, size: 60, label: :field_broker_connection_url,
        placeholder: l(:field_subscription_template_broker_url_placeholder) %></p>
  <p><%= f.text_field :fiware_service, size: 60, label: :field_subscription_template_fiware_service,
        placeholder: l(:field_subscription_template_fiware_service_placeholder) %>
    <em class="info"><%= l(:text_broker_connection_service_info) %></em></p>
  <p><%= f.text_field :fiware_servicepath, size: 60, label: :field_subscription_template_fiware_servicepath,
        placeholder: l(:field_subscription_template_fiware_servicepath_placeholder) %></p>
  <p><%= f.text_field :context, size: 60, label: :field_subscription_template_context,
        placeholder: l(:field_subscription_template_context_placeholder) %>
    <em class="info"><%= l(:text_broker_connection_context_info) %></em></p>
  <p class="min-width"><%= f.select :auth_mode,
        BrokerConnection::AUTH_MODES.map { |mode| [l(:"label_broker_connection_auth_mode_#{mode}"), mode] },
        label: :field_broker_connection_auth_mode %>
    <em class="info"><%= l(:text_broker_connection_auth_mode_info) %></em></p>
  <p><%= f.password_field :auth_token, size: 60, value: '', label: :field_subscription_auth_token,
        placeholder: (@broker_connection.read_attribute(:auth_token).present? ? l(:label_broker_connection_token_stored) : l(:field_subscription_auth_token_placeholder)) %>
    <em class="info"><%= l(:text_broker_connection_token_info) %></em></p>
</div>
